body, .feature, .detail, .faq, .faq-content{
    background-color: #161511;
}
#h2, #h3{
    color:#ba9448;
}

/*.switch-track {
  
    background-color: #0d0e09;
    
   
}*/

/* Style for the switch thumb */
/*.switch-thumb {
    
    background-color: #161511;
    
}*/




.text, #duty{
    color:#f8f6e1;
}
.feature{
    color:#f8f6e1;
}

.detail-item, .faq-head{
    background-color:#0d0e09;
    color:#f8f6e1;
}

.faq-content{
    color:#f8f6e1;
}


.detail-item:hover
{
    box-shadow: 0 2px 19px -2px rgb(94, 88, 69);
    -webkit-box-shadow: 0 2px 19px -2px rgb(94, 88, 69);
    -moz-box-shadow: 0 2px 19px -2px rgb(94, 88, 69);
    transform: translateY(-5px);
}

#form{
    background-color: #0d0e09;
    box-shadow: inset 0 0 3px rgba(77, 76, 73, 0.2);
    border: 2px inset rgba(100, 98, 91, 0.2); /* Inset border with light gray color */
    border-radius: 7px;

}

.form-container{
    border-radius: 10px;
    padding: 30px;
    margin:10px;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, .7);
    
}


input[type=text] {
        color: #f8f6e1; /* Change this color to your preferred color */
    }

.contact-right-container {
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, .7);
}

.p{
    color:#f8f6e1;
   
}


.submit-btn
{
    color: #ba9448;
    background: #161511;
    box-shadow: 0 20px 25px 0 rgba(0, 0, 0, .7);

}

.submit-btn:hover
{
    transform: translateY(-5px);
    background: #161511;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .7);
}
